
.editorconfig
*.config
*.pdb
*.dll
*.txt
*.cache
*.resources
*.CopyComplete
*.exe
*.lock
.vs/Desktop Widgets/v16/.suo
*.ide-shm
*.ide-wal
*.ide
*.ide
*.deploy
*.application
*.ide
*.htm
*.htm
*.manifest
*.pfx
*.user
*.csproj
*.ide
.vs/Desktop Widgets/v16/Server/sqlite3/storage.ide
.vs/Desktop Widgets/v16/Server/sqlite3/storage.ide
